.btn-s{
    color: white;
    background-color: rgb(92, 167, 219);
    border-radius: 20px;
    padding: 0 10px;
    width: max-content;
    height: 40px;
    box-shadow: none;
    border: none;
    margin: 20px 0;
    z-index: 2;
}