.pricing-card{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    margin: auto;
    background-color: white;
    max-height: 430px;
    box-shadow: 2px 4px 5px rgb(216, 216, 216);
}
.pricing-card:hover{
    position: relative;
    flex-grow: 1.5;
    max-height: 470px;
}
.pricing-card .pricing{
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    min-height: min-content;
}
.pricing-card .pricing-plan{
    position: relative;
    top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.pricing-plan>p{
    margin: 5px 5px;
}