.chip-img{
    margin: 15px 0;
    width: 90px;
    height: 90px;
}

.chip-img>div{
    mask: url(../../assets/blob1.svg);
    width: 72px;
    height: 70px;
    margin-bottom: 0;
} 
.chip-img>div>div{
    padding-top: 15px;
}
.chip-img>p{
    color: whitesmoke;
    font-size: 14px;
    width: min-content;
    border-radius: 50%;
    position: relative;
    top: -12px;
    left: 10px;
    padding: 0 6px;
    margin: 0;
}