.item{
    display: flex;
    width: 86%;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 60px;
    flex-direction: row;
    
}
.item>img{
    margin: auto;
    flex-grow: 1;
    max-width: 44%;
    min-width: 384px;

}
.item>div{
    margin-top: 24px;
    max-width: 50%;
    text-align: left;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: auto;
    margin-bottom: 30px;
}

.item .item-text{
    font-size: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}