.post{
    display: flex;
    flex-direction: row;
    padding: 6px 0;
    max-height: 110px;
}
.post>img{
    width: 75px;
    height: 75px;
}
.post>div{

    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.post>div>p{
    margin: 0;
}