.bp-card{
    margin: 15px 10px;
    flex-grow: 1;
    background: inherit;
    text-align: center;
    min-width: 200px;
    max-width: 20%;
    /* z-index: 20; */
}

.bp-card>div{
   mask: url('../../assets/blob2.svg');
   margin: auto;
   width: 50px;
   height: 48px;
   font-size: 50;
}