.toolbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background: #8aacbb;
  height: 56px;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar__logo {
  margin-left: 1rem;
}

.toolbar__logo p {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0 0.5rem;
}

.toolbar_navigation-items p {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.toolbar_navigation-items p:hover,
.toolbar_navigation-items p:active {
  color: #fa923f;
}

@media (max-width: 768px) {
  .toolbar_navigation-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }

  .toolbar__logo {
    margin-left: 0;
  }
}
