.customer-card{
    
    height: 280px;
    box-shadow: 1px 2px 4px rgb(194, 194, 194);
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 25px 5px;
    max-width: 30%;
    min-width: 350px;
}

.customer-card>p{
   max-width: 80%;
   text-align: start;
   align-self: flex-start;
   flex-grow: 1;
   padding-left: 20px;
   padding-right: 38px;
}

.customer-card>div{
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.customer-card>div>div{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}   