.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .rocket {
    animation: rocket infinite 3s ease;  
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
body{
  width: 100%;
}

main{
  overflow: hidden;
  width: 100%;
  background-color:whitesmoke;
}
.home{
  max-height: 670px;
  background-color: rgb(238, 244, 249);
}
.home .head-line>h3{
  font-size: 32px;
  margin: 0;
  z-index: 2;
}
.home .head-line>p{
  z-index: 2;
  font-size: 24px;

}
.home .head-line{
   padding:  50px 50px;
   align-items: flex-start;
}
.home>div{
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.home img{
   width: 30%;
   height: 30%;
}
.home .rocket-cloud{
  position: relative;
  top: -630px;
  width: 100%;
  min-height: 100px;
  z-index: 5;
  padding-right: 0;
}
.home .rocket-stars{
  position: relative;
  top: -340px;
  left: 70px;
  width: 400px;
  height: 150px;
}
.home .rocket-clouds{
  top: -100px;
  left: 120px;
  position: relative;
  width: 500px;
  height: 75px;
}
.home .rocket{
  position: relative;
    top: -570px;
    width: 250px;
    height: 600px;
}

.what-we-do{
  background-color: white;
  padding-bottom: 30px;
  flex-wrap: wrap-reverse;
  margin: 0;
  text-align: center;
}
.p-list{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;

}
.what-we-do>p{
  margin: 0;
  padding-top: 50px;
}
.what-we-do>h2{
  padding-top: 10px;
  padding-bottom: 25px;
  max-width: 500px;
  margin: auto;
}


.c-stories{
  min-height: 500px;
  background-color: whitesmoke;
  text-align: center;
}
.c-stories>p{
  margin:0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.c-stories .carousel-container{
  width: 90%;
  margin: auto;
}
.c-stories .slides{
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.pricing{
  width: 86%;
  margin: auto;
  min-height: 500px;
  background-color:whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.pricing .pricing-description{
  flex-grow: 2;
}
.pricing .pricing-description>p{
  color: #ccc;
  font-size: 18px;
  padding-top: 60px;
}
.pricing .pricing-description>strong+p{
  padding-top: 16px;
  font-size: 16px;
  color: black;
}
.pricing .pricing-description>strong{
  font-size: 24px;
  padding-top: 60px;
}
.pricing .card-container{
  margin: auto;
  height: 100%;
  align-items: baseline;
  width: 100%;
  flex-grow: 4;
  display: flex;
  flex-direction: row;
}

.contact{
  
  background-color: whitesmoke;
}
.contact>div+div{
  padding-top: 50px;
  text-align: center;
  background-color: rgb(238, 244, 249);
}
.contact .search-bar{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  margin-top: 26px;
  margin-bottom: 140px;
}
.contact .search-bar>input{
  width:300px;
  height: 36px;
  border-radius: 28px;
  border: none;
  padding-left: 20px;
  font-size: 24px;
  margin: auto 20px;
}
.contact .search-bar>img{
  position: relative;
  bottom: -10px;
}
.contact .footer{
  margin: auto;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 350px;
  text-align: left;
  background-color: white;
}
.footer>div{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
}
.footer a{
  display: block;
  text-decoration: none;
}
.footer .pop-posts{
  padding-left: 30px;
  max-height: 400px;
}
.footer .tc{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 260px;
}
.footer .tags{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 120px;
}
.tags>button{
  margin: 5px 0;

}
.footer .categories{
  flex-grow: 1;
  max-height: 40%;
}
.footer .categories>ul{
  margin-top: 5px;
  padding-left:10px ;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.categories>ul>li>p{
  padding: 6px 0;
  margin: 0;
}
.footer .ge{
  min-width: 160px;
}
.footer .elsewhere{
  display: flex;
  justify-content: space-evenly;
}
.footer .lh{
  min-width: 160px;
}
@keyframes rocket {
  0% , 100% {
    top: -600px;
  }
  50% {
    top: -550px;
  }
  
  /* to{
    top: -600px;
  } */
}
