.coment{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.coment>.coment-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    text-align: start;
}
.coment>div>p{
    /* margin: 5px 0; */
    margin: 0;
}
.coment>div>strong{
    padding-top: 10px;
    padding-bottom: 6px;
    font-size: 20px;
}